**/build/*
**/dependency-reduced-pom.xml
**/src-gen
**/.idea
.gradle
.project
out/*
model/src-gen
front-src/node_modules
**/neptune.mwb.bak
**/*.iml
front-src/dist
document/ethereum/genesis.json
document/ethereum/keystore
document/mongodb/mongo_key
document/mongodb/replica.js
document/mongodb/user.js

!document/ether/go-ethereum-1.7.3/**/build/**
!document/ether/go-ethereum-1.7.3-certon/**/build/**